.buy{
    background-color: #2250fc;
    color: white;
    padding: 46px 50px 34px;
}
.buy h3{
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}
.btn-host{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-host button{
    border: 2px solid white;
}