.MWC{
    padding: 80px 0px 0px 0px;
}
.MWC h2{
    font-size: 40px;
    text-transform: capitalize;
    line-height: 46px;
    font-weight: 300;
    margin-bottom: 16px;
    font-family: var(--);
}
.MWC h6{
    font-weight: 400;
    font-size: 1.25rem;
    color: #484848;
    margin-bottom: 40px;
}
.MWC p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.7;
    letter-spacing: 0;
    color: #777;
}