:root{
    --font-family: 'Poppins', sans-serif;
    --btn-color: #2250fc;
    --red: #b41525;
    --dropback: #181818;
}
*{
    margin: 0px;
    padding: 0px;
}
.maxWidth{
    max-width: 1140px !important;
}
body{
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.65714286em;
    font-weight: 400;
}
.row>* {
    padding-right: unset !important;
    padding-left: unset !important;
}